
  .container{
    width: 300px;
    height: 200px;
    position: relative; 
    perspective: 800px;
    border-radius: 4px;
    backface-visibility: hidden;
    border: 0;
    box-shadow: none;
    margin: 5px;
  }
  .card{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer;
    backface-visibility: hidden;
  }
    
  
  div{
      backface-visibility: hidden;
      border-radius: 6px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #47525D;
      box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  }

  .front{
    height: 100%;
    width: 100%;
  }
  .back{
    position: absolute;
    height: 100%;
    width: 100%;
      transform: rotateY(180deg);
  }
  .flipped{
    height: 100%;
    width: 100%;
      transform: rotateY(180deg);
      box-shadow: none;
  }

  .jokes-container {
    padding: 10px;
    height: 100%;
    overflow: scroll;
    margin-left: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: none;
  }